
{% load static %}

<link rel="stylesheet" href="{% static 'css/template.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Prompt">


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock %}
    </title>
</head>
<body>

    <div style="height: 100vh;width: 100vw;">
      <img id="LoginPic1" src="{% static 'app_users/PicL-Rmoney.png' %}" />
      <div id="LoginRMbox1">
        <div style="width: 598px; height: 100vh; left: 20%; top: 5%; position: absolute">
                {% block form %}
                {% endblock %}
        </div>
      </div>
    </div>
  </body>
  </html>