
{% load static %}

<link rel="stylesheet" href="{% static 'css/template.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Prompt">


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock %}
    </title>
</head>
<body>

    <img id="image1" src="{% static 'app_users/Coim 2.png' %}"/>
        <div style="width: 102.6vh; height: 100vh; left: 40vw; top: -1.8vh; position: absolute;">
            <div class="background1" >
                <div id="center">
                {% block form %}
                    
                {% endblock %}
                        <!-- <label id="checkbox" for="remember_me"><input type="checkbox" name="remember_me">Remember Me</label> -->

                </div>
            </div>
        </div>
</body>
</html>