#Usertext{
    left: 22px; 
    top: 25%; 
}
.formbox{
    width: 600px; 
    height: 70px; 
    background: #FAFAFF;
    position: absolute; 
    justify-content: center; 
    align-items: center; 
    display: inline-flex ; 
    border-radius: 10px; 
    border: 3px #161A2A solid;  
    width: 100%;
    font-size: 30px;
    padding: 12px 20px;
    margin: 4px 0;
    box-sizing: border-box;
    outline: none;
}
#Usernamebox{
    left: 0px; 
    top:  29.5%; 
}
#Passwordtext{
    left: 22px; 
    top: 43%;
}
#Passwordbox{
    left: 0px; 
    top: 47.5%; 
}
#Remembertext{
    left: 0px; 
    top: 62%;
    position: absolute; 
    color: #161A2A; 
    font-size: 20px; 
    font-family: "Prompt"; 
    font-weight: 300;
    display: flex;
    align-items: center;
}
#Registertext{
    left: 89%; 
    top: 62.8%;
    position: absolute; 
    color: #161A2A; 
    align-items: center;
    justify-content: center; /* จัดตำแหน่งแนวนอนอยู่กึ่งกลาง */
    /* align-items: center; จัดตำแหน่งแนวตั้งอยู่กึ่งกลาง */
    font-size: 20px; 
    font-family: Prompt; 
    font-weight: 300;
}
#Nexttext{
    font-size: 50px; 
    font-family: Prompt;
    text-align: center; 
    background-color: #000000;
    color: #ffffff;
}
.Nextbox{
    /* left: 10%; 
    top: 72%; */
    position: absolute;
    width: 500px; /* กว้างของสี่เหลี่ยม */
    height: 100px; /* สูงของสี่เหลี่ยม */
    border-radius:20px;
    background-color: #000000; /* สีพื้นหลังของสี่เหลี่ยม */
    display: flex;
    justify-content: center;
    align-items: center;
}
input[type="password"]{
    border: 0px;
    width: 100%;
    font-size: 30px;
    padding: 12px 20px;
    margin: 4px 0;
    box-sizing: border-box;
    outline: none;
}
input[type=text] {
    border: 0px;
    width: 100%;
    font-size: 30px;
    padding: 12px 20px;
    margin: 4px 0;
    box-sizing: border-box;
    outline: none;
}
