input[name="password2"]{
    font-size: 3vh;
    padding: 12px 20px;
    margin: 4px 0;
    box-sizing: border-box;
    outline: none;
    background: #FAFAFF;
    position: absolute;
    border: 0.4vh #161A2A solid;
    top: 62.9vh;
    border-radius: 1vh;
    width: 38vw;
    height: 7.5vh;
}
#textqoute {
    left: 20.5%; 
    top: 72.5vh;
    position: absolute; 
    color: #161A2A; 
    font-size: 20px; 
    font-family: "Prompt"; 
    font-weight: 300; 
    word-wrap: break-word
}
#tickboxreg{
    width: 4vw;
    height: 4vh;
    left: -10.5vw;
    top: -12.8vh;
    position: absolute;
    background: #FAFAFF;
    border-radius: 8px;
    border: 3px #161A2A solid
}
#textsign{
    left: 45.5vw; 
    top: 72.5vh; 
    position: absolute; 
    text-align: right; 
    color: #161A2A; 
    font-size: 20px; 
    font-family: Prompt; 
    font-weight: 300; 
    word-wrap: break-word
}
#Re_Password_text{
    left: 20%;
    top: 58.5%; 
    position: absolute; 
    color: #161A2A; 
    font-size: 3vh; 
    font-family: "Prompt"; 
    font-weight: 400; 
    word-wrap: break-word
}
#Re_Password_text img{
    position: absolute;
    width: 1.5vw;
    top: 8%;
    left: -17%;
}
.buttoncon1{
    width: 311px; 
    height: 103px;
    margin-left: 24vw;
    /* left: 74%; */
    top: 350%;
    position: absolute;
    background: #050505; 
    border-radius: 15px;
    font-size: 36px; 
    color: #FAFAFF;
    font-family: Kanit; 
    font-weight: 600; }
.buttoncon1:hover{background-color: #000000;}
.buttoncon1:active{background-color: #404341;
        box-shadow: 0 5px #666;
        transform: translateY(4px);}