body{
    margin: 0;
    background: linear-gradient(90deg, #1ED760 0%, #3D8D59 51%);
    overflow: hidden;
}
.background1{
    width: 106.65vh; 
    height: 100vh;
    background-color: #FAFAFF;
    box-shadow: -14px 0px 26px rgba(0, 0, 0, 0.25);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
#text1{
    position: relative;
    top: 5vh;
    font-size: 8vh;
    font-family: "Kanit";
}
#text2{
    position: relative;
    top: 6vh;
    line-height: normal;
    font-weight: 100;
    font-style: normal;
    font-size: 4vh;
    font-family: "Prompt";
}
#center{
    text-align: center;
}

#image1 {
    width: auto;
    height: 105vh;
    overflow: hidden;
    top: -5vh;
    left: -20px;
    position: relative;
}