body {
    margin: 0;
    background: linear-gradient(90deg, #1ED760 0%, #3D8D59 51%);
    overflow: hidden;
}


input[type="text"]{
    font-size: 3vh;
    padding: 12px 20px;
    margin: 4px 0;
    box-sizing: border-box;
    outline: none;
    background: #FAFAFF;
    position: absolute;
    border: 0.4vh #161A2A solid;
    top: 32.9vh;
    border-radius: 1vh;
    width: 38vw;
    height: 7.5vh;
    left: 17%;
}
input[type="password"]{
    font-size: 3vh;
    padding: 12px 20px;
    margin: 4px 0;
    box-sizing: border-box;
    outline: none;
    background: #FAFAFF;
    position: absolute;
    border: 0.4vh #161A2A solid;
    top: 48.9vh;
    border-radius: 1vh;
    width: 38vw;
    height: 7.5vh;
    left: 17%
}
.background1 {
    width: 110%; 
    height: 103.2vh;
    background-color: #FAFAFF;
    box-shadow: -14px 0px 26px rgba(0, 0, 0, 0.25);
    border-top-left-radius: 4vw;
    border-bottom-left-radius: 4vw;
}
#text1 {
    position: absolute;
    left: 40%;
    top: 5vh;
    font-size: 8vh;
    font-family: "Kanit";
}
#text2 {
    position: absolute;

    top: 20%;
    left: 35%;
    line-height: normal;
    font-weight: 100;
    font-style: normal;
    font-size: 4vh;
    font-family: "Prompt";
}
#center {
    text-align: center;
}

#image1 {
    width: 60vw;
    height: 105vh;
    overflow: hidden;
    top: -5vh;
    left: -2vw;
    position: absolute;
}
#Username_text{
    left: 20%;
    top: 28.5%; 
    position: absolute; 
    color: #161A2A; 
    font-size: 3vh; 
    font-family: "Prompt"; 
    font-weight: 400; 
    word-wrap: break-word
}
#Username_text img {
    position: absolute;
    width: 2vw;
    top: 15%;
    left: -22%;
}


#Password_text{
    left: 20%;
    top: 44.5%; 
    position: absolute; 
    color: #161A2A; 
    font-size: 3vh; 
    font-family: "Prompt"; 
    font-weight: 400; 
    word-wrap: break-word
}
#Password_text img {
    position: absolute;
    width: 1.5vw;
    top: 8%;
    left: -24%;
}
#Password_block {
    background: #FAFAFF;
    position: absolute;
    border: 0.4vh #161A2A solid;
    top: 16.3vh;
    border-radius: 1vh;
    width: 38vw;
    height: 7.5vh;
}

/* #checkbox{
    position: relative;
    top: 22vh;
    left: -24%;
} */

#text4{
    left: 14.2vw; 
    top: 58vh; 
    position: absolute; 
    color: #161A2A; 
    font-size: 20px; 
    font-family: "Prompt"; 
    font-weight: 300; 
    word-wrap: break-word
}
#tickbox4{
    width: 4vw; 
    height: 4vh; 
    left: -9.9vw; 
    top: -27.5vh; 
    position: absolute; 
    background: #FAFAFF; 
    border-radius: 8px; 
    border: 3px #161A2A solid
}


#text5{
    left: 44.5vw; 
    top: 58vh; 
    position: absolute; 
    text-align: right; 
    color: #161A2A; 
    font-size: 20px; 
    font-family: Prompt; 
    font-weight: 300; 
    word-wrap: break-word
}