body {
    margin: 0;
    background: linear-gradient(90deg, #1ED760 0%, #3D8D59 51%);
    overflow: hidden;
}


input[type="text"]{
    font-size: 3vh;
    padding: 12px 20px;
    margin: 4px 0;
    box-sizing: border-box;
    outline: none;
    background: #FAFAFF;
    position: relative;
    border: 0.4vh #161A2A solid;
    top: 10.9vh;
    border-radius: 1vh;
    width: 38vw;
    height: 7.5vh;
}
input[type="password"]{
    font-size: 3vh;
    padding: 12px 20px;
    margin: 4px 0;
    box-sizing: border-box;
    outline: none;
    background: #FAFAFF;
    position: relative;
    border: 0.4vh #161A2A solid;
    top: 16.9vh;
    border-radius: 1vh;
    width: 38vw;
    height: 7.5vh;
}
.background1 {
    width: 106.65vh; 
    height: 103.2vh;
    background-color: #FAFAFF;
    box-shadow: -14px 0px 26px rgba(0, 0, 0, 0.25);
    border-top-left-radius: 4vw;
    border-bottom-left-radius: 4vw;
}
#text1 {
    position: relative;
    top: 5vh;
    font-size: 8vh;
    font-family: "Kanit";
}
#text2 {
    position: relative;
    top: 6vh;
    line-height: normal;
    font-weight: 100;
    font-style: normal;
    font-size: 4vh;
    font-family: "Prompt";
}
#center {
    text-align: center;
}

#image1 {
    width: auto;
    height: 105vh;
    overflow: hidden;
    top: -5vh;
    left: -2vw;
    position: relative;
}
#Username_text{
    left: 13vw;
    top: 29vh; 
    position: absolute; 
    color: #161A2A; 
    font-size: 3vh; 
    font-family: "Prompt"; 
    font-weight: 400; 
    word-wrap: break-word
}
#Username_text img {
    position: relative;
    width: 2vw;
    top: 0vh;
}


#Password_text{
    left: 13vw;
    top: 43.5vh; 
    position: absolute; 
    color: #161A2A; 
    font-size: 3vh; 
    font-family: "Prompt"; 
    font-weight: 400; 
    word-wrap: break-word
}
#Password_text img {
    position: relative;
    width: 1.5vw;
    top: 0.5vh;
    left: -0.2vw;
}
#Password_block {
    background: #FAFAFF;
    position: relative;
    border: 0.4vh #161A2A solid;
    top: 16.3vh;
    border-radius: 1vh;
    width: 38vw;
    height: 7.5vh;
}

/* #checkbox{
    position: relative;
    top: 22vh;
    left: -24%;
} */

#text4{
    left: 15.5vw; 
    top: 58vh; 
    position: absolute; 
    color: #161A2A; 
    font-size: 20px; 
    font-family: "Prompt"; 
    font-weight: 300; 
    word-wrap: break-word
}
#tickbox4{
    width: 4vw; 
    height: 4vh; 
    left: -9.9vw; 
    top: -27.5vh; 
    position: absolute; 
    background: #FAFAFF; 
    border-radius: 8px; 
    border: 3px #161A2A solid
}

.buttoncon1{
    width: 311px; 
    height: 103px;
    left: -3vw;
    position: absolute; 
    background: #050505; 
    border-radius: 15px;
    font-size: 36px; 
    color: #FAFAFF;
    font-family: Kanit; 
    font-weight: 600; }
.buttoncon1:hover{background-color: #000000;}
.buttoncon1:active{background-color: #404341;
        box-shadow: 0 5px #666;
        transform: translateY(4px);}

#text5{
    left: 44.5vw; 
    top: 58vh; 
    position: absolute; 
    text-align: right; 
    color: #161A2A; 
    font-size: 20px; 
    font-family: Prompt; 
    font-weight: 300; 
    word-wrap: break-word
}