{% load static %}
<!DOCTYPE html>
<html>
    <head>
    <title>Ten Thousand Project</title>
    </head>
    <link rel="stylesheet" , href="{% static 'css/homepage1.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Prompt">
    <script type="text/javascript" src="{% static 'js/homepage.js' %}"></script>
    <body>
        <ul>
            <li><a onclick="goto_loginpage()">เริ่มใช้งาน</a></li>
            <li><a href="#news">คุณสมบัติ</a></li>
            <li><a href="#contact">เกี่ยวกับ</a></li>
            <li style="float:right"><a class="active" onclick="goto_loginpage()">Log in</a></li>
          </ul>
        <div style="width: 100%; height: 100%; position: relative">
            <div style="width: 1920px; height: 1080px; left: 0px; top: 0px; position: absolute; background: linear-gradient(0deg, 0%, 100%), linear-gradient(0deg, #FAFAFF 0%, #FAFAFF 100%)"></div>    
            <div id="backgroundmainpage1"></div>
            <div style="width: 1051px; height: 979px; left: 868px; top: 101px; position: absolute">
                <img id="image1" src="{% static 'app_general/bangkok-city-thailand 1.png' %}" />
                <div id="faderimage1"></div>
            </div>
        <div id="header1">แผนที่ระบุตำแหน่ง<br/>ร้านค้าในรัศมี</div>
        <div id="underline1"></div>
        <div id="background2" ></div>
        
        </div>

        <div style="width: 100%; height: 100%; position: relative; box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.25)">
            <button onclick="goto_loginpage()" class="buttoncon1" >เริ่มใช้งาน</div>
                
            </div>
            </div>
        
        <div id="contact" style="width: 100vw; height: 720px; left: 0px; top: 1080px; position: absolute">
            <div id="backgroundsubpage1" ></div>
            <img id="Image2" src="{% static 'app_general/Image2.png' %}" />
            <div id="head2">Ten Thousand Project</div>
            <div id="text1">”นโยบาย Digital wallet 10,000 บาท ใช้จ่ายในรัศมี 4 กม. บรรเทาปัญหาปากท้องและกระตุ้นเศรษฐกิจครั้งใหญ่“ คือคำกล่าวที่ทำให้พวกเราได้เกิดข้อสงสัยขึ้น ว่าในรัศมีที่ดังกล่าวมีร้านค้าอะไรบ้าง จึงเกิดเป็นโครงงานนี้ขึ้นมา</div>
            <div id="underline2"></div>
            </div>
        <div id="news" style="width: 100vw; height: 750px; left: 0px; top: 1800px; position: absolute">
            <div id="background3"></div>
            <div id="head3">FEATURE</div>
            <div class="subhead" id="subhead1">Sign in/Sign up</div>
            <div class="subhead" id="subhead2">ระบุตำแหน่ง</div>
            <div class="subhead" id="subhead3">การนำทาง</div>
            <div class="subhead" id="subhead4">ระบบโปรไฟล์</div>
            <div id="borderline2" ></div>
            <div id="borderline3"></div>
            <div id="borderline4"></div>
            <div id="text2">Lorem ipsum dolor sit amet consectetur. Non massa id </div>
            <div id="text3">Lorem ipsum dolor sit amet consectetur. Non massa id </div>
            <div id="text4">Lorem ipsum dolor sit amet consectetur. Non massa id </div>
            <div id="text5" >Lorem ipsum dolor sit amet consectetur. Non massa id </div>
            <img id="Image3" src="{% static 'app_general/Subtract.png' %}">
            <img id="Image4" src="{% static 'app_general/Vector.png' %}">
            <img id="Image5"src="{% static 'app_general/pin.png' %}">
            <img id="Image6"src="{% static 'app_general/Vector2.png' %}">
            
        </div>
        </div>


    </body>
</html>