body{
    margin: 0;
    width: 100%; 
    height: 100%; 
    position: relative; 
    background: #1ED760
}
#map{
    width: 960px; 
    height: 1080px; 
    left: 0px; 
    top: 0px
}
#button1{
    width: 700px; 
    height: 150px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: #161A2A; 
    border-radius: 45px
}
#textbutton1{
    width: 522px; 
    height: 99px; 
    left: 89px; 
    top: 26px; 
    position: absolute; 
    text-align: center; 
    color: #FAFAFF; 
    font-size: 64px; 
    font-family: Kanit; 
    font-weight: 500; 
    word-wrap: break-word
}
#Input1{
    width: 700px; 
    height: 150px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: #161A2A; 
    border-radius: 45px
}
#textInput1{
    width: 319px; 
    left: 191px; 
    top: 27px; 
    position: absolute; 
    text-align: center; 
    color: #FAFAFF; 
    font-size: 64px; 
    font-family: Kanit; 
    font-weight: 500; 
    word-wrap: break-word
}
#button2{
    width: 311px; 
    height: 103px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: #FAFAFF; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    border-radius: 13px;
    font-size: 48px; 
    font-family: Kanit; 
    font-weight: 600;
}
#textbutton2{
    width: 114px; 
    left: 99px; 
    top: 16px; 
    position: absolute; 
    text-align: center; 
    color: #161A2A; 
    font-size: 48px; 
    font-family: Kanit; 
    font-weight: 600; 
    word-wrap: break-word
}
#borderinput2{
    width: 311px; 
    height: 103px; 
    left: 0px; 
    top: 0px; 
    position: absolute;
    background: #FAFAFF; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    border-radius: 13px
}
#input2{
    width: 273px; 
    height: 72px; 
    left: 19px; 
    top: 16px; 
    font-size: 35px; 
    /* font-family: 'Prompt'; */
    position: absolute; 
    background: #E3E3E3; 
    border-radius: 13px
}
#textInput2{
    width: 148px; 
    height: 54px; 
    left: 25px; 
    top: 25px; 
    position: absolute; 
    color: #AAAAAA; 
    font-size: 36px; 
    font-family: Kanit; 
    font-weight: 275; 
    word-wrap: break-word
}
#head1{
    width: 755px; 
    left: 102px; 
    top: 174px; 
    position: absolute; 
    text-align: center; 
    color: #FAFAFF; 
    font-size: 64px; 
    font-family: Kanit; 
    font-weight: 500; 
    word-wrap: break-word
}
#headbar{
    width: 960px; 
    height: 100px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    box-shadow: 0px 9px 7px rgba(0, 0, 0, 0.25)
}
#Bgheadbar{
    width: 100%; 
    height: 100px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: #161A2A
}
#backbutton{
    width: 80px; 
    height: 80px; 
    left: 55px; 
    top: 10px; 
    position: absolute
}
#line1{
    width: 51px; 
    height: 0px; 
    left: 186px; 
    top: 26px; 
    position: absolute; 
    transform: rotate(90deg); 
    transform-origin: 0 0; 
    border: 2px #FAFAFF solid
}
#backbutton{
    width: 27px; 
    height:35px; 
    left: 895px; 
    top: 35px; 
    position: absolute; 
    /* box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);  */
    /* border: 10px #FAFAFF solid */
}
.buttoncon1{
    width: 700px; 
    height: 130px; 
    left: 0px; 
    top: 20px; 
    position: relative; 
    background: #16192a; 
    border-radius: 45px;
    font-size: 48px; 
    color: #FAFAFF;
    font-family: 'kanit';
    font-weight: 600; 
}

.buttoncon1:hover{background-color: #9fa8a2;}
.buttoncon1:active{background-color: #000000;
        box-shadow: 0 5px #666;
        transform: translateY(4px);}
input[type=text] {
    position: absolute;
    background-color: #16192a;
    color: white;
    text-align: center;
    top: 25%;
    border: 0;
    width: 100%;
    padding: 6px 6px;
    margin: 8px 0;
    font-size: 30px;
    box-sizing: border-box;
    width: 700px; 
    height: 130px; 
    left: 0px; 
    top: 20px; 
    position: relative; 
    background: #16192a; 
    border-radius: 45px;
    font-size: 48px; 
    color: #FAFAFF;
    font-family: 'kanit';
    font-weight: 600; 
}
input[id=id_radius]{
    width: 273px;
    height: 72px;
    left: 19px;
    top: 16px;
    font-size: 35px;
    /* font-family: 'Prompt'; */
    position: absolute;
    color: black;
    background: #E3E3E3;
    border-radius: 13px;
}
.buttoncon2{
    width: 311px; 
    height: 103px; 
    left: 0px; 
    top: 0px; 
    position: relative; 
    background: #16192a; 
    border-radius: 45px;
    font-size: 48px; 
    color: #14922d;
    font-family: 'kanit';
    
    font-weight: 600; }
.buttoncon2:hover{background-color: #9fa8a2;}
.buttoncon2:active{background-color: #3d3c3c;
        box-shadow: 0 5px #666;
        transform: translateY(4px);}