{% extends "template_sign.html" %}

{% load static %}

{% block title %}
    Login
{% endblock %}
{% block form %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<div id="HeadSignin">Sign in</div>
<div id="SubSignin">ลงชื่อเข้าใช้แล้วใช้งานเลย!</div>
<form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    <label class="formtext" id="Usertext" for="Username"><img src="{% static 'app_users/Picusername.svg' %}" alt="รูปภาพ Username" width="24" height="24"> Username</label>
    <input class="formbox" id="Usernamebox" type="text" name="Username">
        <div class="formbox" id="Usernamebox"> {{ form.username }} </div>
    <label class="formtext" id="Passwordtext"><img src="{% static 'app_users/Picpassword.svg' %}" alt="รูปภาพ Password" width="24" height="24"> Password</label>
        <div class="formbox" id="Passwordbox"> {{ form.password }} </div>
    <label id= "Remembertext"><input type="checkbox">&nbsp;&nbsp;Remember me</label>
    <div id="Registertext"><a href="{% url 'register'%}"class="Textlink">Register</a></div>


    <div style="left: 10%;top: 72%;position: absolute;"><button onclick="goto_loginpage()" id="Nexttext" class="Nextbox" type="submit">NEXT</div>
    

</form>
{% endblock %}