{% extends "template_sign.html" %}

{% load static %}
{% block title %}
    Signup
{% endblock %}
{% block form %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
<form action="{% url 'register' %}" method="POST">
    <div id="HeadSignin">Sign up</div>
    <div id="SubSignin">สมัครง่ายๆ ไม่ยุ่งยาก</div>
    {% csrf_token %}
    <label class="formtext" id="Usertext" for="username"><img src="{% static 'app_users/Picusername.svg' %}" alt="รูปภาพ Username" width="24" height="24"> Username</label>
    <div class="formbox" id="Usernamebox">{{ form.username }}</div>
    
    <label class="formtext" id="Passwordtext" for="password"><img src="{% static 'app_users/Picpassword.svg' %}" alt="รูปภาพ Password" width="24" height="24"> Password</label>
    <div class="formbox" id="Passwordbox"> {{ form.password1 }}</div>

    <label class="formtext" id="Passwordtext2" for="password"><img src="{% static 'app_users/Picpassword.svg' %}" alt="รูปภาพ Password" width="24" height="24"> Re-Password</label>
    <div class="formbox" id="Passwordbox2"> {{ form.password2 }}</div>

    <label id= "Remembertext"><input type="checkbox">&nbsp;&nbsp;Term and agreement</label>
    <div id="Registertext"><a href="{% url 'login' %}"class="Textlink">Have an Account? Sign In</a></div>


    <div style="left: 10%;top: 72%;position: absolute;"><button onclick="goto_loginpage()" id="Nexttext" class="Nextbox" type="submit">NEXT</div>
    
    <!-- <div style="width: 532px; height: 100px; left: 334px; top: 773px; position: absolute">
      <button onclick="goto_loginpage()" class="buttoncon1" >NEXT</div> -->

    <!-- <div id="Nextbox"><div id="Nexttext">NEXT</div> -->

  </form>
{% endblock %}