.overlay {
    /* width: 100%;
    height: 100%; */
    background: linear-gradient(to right, rgba(22, 26, 42, 1) 0%, rgba(22, 26, 42, 0) 100%);
    position: relative;
    z-index: 2;
    mix-blend-mode: screen; /* หรือ overlay, lighten, เป็นต้น */
}
.image {
    z-index: 1;
}
body {
    background-color: #161A2A;
    font-family: "Kanit", sans-serif;
    max-width: 1500px; /* ปรับตามต้องการ */
    max-height: 1000px;  /*กำหนดความสูงของหน้าเว็บ */
    margin: 0;
}
#image1{
    width: 800px;
    height: 800px;
    right:  0%; 
    flex-shrink: 0;
    /* box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3); */
    position: absolute
}
#faderimage1{
    width: 50vw; 
    height: 600px; 
    left: 0px; 
    top: 0px; 
    position: relative; 
    background-size: cover;
    background: linear-gradient(90deg, #161A2A 0%, rgba(22.40, 25.54, 42.06, 0.66) 10%, rgba(22.40, 25.54, 42.06, 0) 100%)
}
#menubarcontainer{ 
    width: 100%; 
    height: 10px;  
    background: #161A2A
}
#textstart{
    color: #FAFAFF;
    font-size: 32px;
    font-family: Kanit;
    margin-left: 150px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 500;
    word-wrap: break-word
}
/* Add a gray right border to all list items, except the last item (last-child) */
ul {
    list-style-type: none;
    width: 100vw;
    /* width: 1920px; */
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    font-size: 25px;
    font-family: kanit;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
#header1{
    width: 725px; 
    left: 95px; 
    top: 150px; 
    position: absolute; 
    color: #FAFAFF; 
    font-size: 90px; 
    font-family: 'Prompt';
    font-weight: 600; 
    word-wrap: break-word
}
#underline1{
    width: 650px; 
    height: 0px; 
    left: 95px; 
    top: 460px; 
    position: absolute; 
    border: 6px #FAFAFF solid
}
#Startbox{
    width: 311px;
    height: 103px;
    border-radius: 15px;
    background: #1ED760;
}

.buttoncon1{
        width: 311px; 
        height: 103px; 
        left: 95px; 
        top: 520px; 
        position: relative; 
        background: #1ED760; 
        border-radius: 15px;
        font-size: 36px; 
        color: #FAFAFF;
        font-family: 'Prompt';
        font-weight: 600; }
    .buttoncon1:hover{background-color: #1ED760;}
    .buttoncon1:active{background-color: #179f46;
            box-shadow: 0 5px #666;
            transform: translateY(4px);}
.buttoncon1:hover{background-color: #1ED760;}
.buttoncon1:active{background-color: #179f46;
        box-shadow: 0 5px #666;
        transform: translateY(4px);}
#Image2{
    width: 50vw;
    height: 720px; 
    position: relative;
}
#head2{
    width: 660px;
    left: 53%; 
    top: 70px; 
    position: absolute; 
    text-align: right; 
    color: #161A2A; 
    font-size: 62px; 
    font-family: 'Prompt';
    font-weight: 500; 
    word-wrap: break-word
}
#underline2{
    width: 600px; 
    height: 0px; 
    left: 55%; 
    top: 25%; 
    position: absolute; 
    border: 6px #161A2A solid
}
#text1{
    width: 700px; 
    left: 53%; 
    top: 228px; 
    position: absolute; 
    text-align: left; 
    color: #161A2A; 
    font-size: 34px; 
    font-family: 'Prompt';
    font-weight: 400; 
    line-height: 1.8;
    word-wrap: break-word
}
#news{
    position: relative; 
    text-align: center; 
    color: #FAFAFF; 
    font-size: 60px; 
    font-family: "Kanit", sans-serif;
    font-weight: 500; 
    letter-spacing: 12px; 
    word-wrap: break-word
}
.subhead{
    /* position: absolute;  */
    text-align: center; 
    color: #FAFAFF; 
    font-size: 35px; 
    font-family: 'Prompt';
    font-weight: 600; 
    word-wrap: break-word
}
.Ftext{
    text-align: center; 
    color: white; 
    font-size: 24px; 
    font-family: "Prompt";
    font-weight: 300; 
    word-wrap: break-word
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin : 90px;
    gap: 40px;
}
.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    color: white;
    justify-content: center;
    /* border: 1px solid #ddd; */
    padding: 8px;
    text-align: center;
}
.grid-item img {
    max-width: 100%;
    max-height: 100%;
}
h2 {
    text-align: center;
}
.vertical-line {
    border-left: 2px solid #FAFAFF; /* สีของขีดแนวตั้ง */
    height: 470px; /* ความสูงของขีดแนวตั้ง */
    /* margin: 0 10px; ระยะห่างรอบขีดแนวตั้ง */
    top: 80px;
    position: absolute;
}
#Nextbox{ 
    position: relative;
    width: 100vw; /* กว้างของสี่เหลี่ยม */
    height: 80px; /* สูงของสี่เหลี่ยม */
    background-color: #FAFAFF; /* สีพื้นหลังของสี่เหลี่ยม */
    display: flex;
    justify-content: center;
    align-items: center;
}
#Nexttext{
    font-weight: 300;
    font-size: 36px; 
    font-family: 'Prompt';
    font-weight: 300;
    text-align: center;
    color: #161A2A;
}