body {
    background: linear-gradient(90deg, #1ED760 0%, #3D8D59 51%); /* กำหนดไล่เฉดสี */
    width: 100vw;
    height: 100vh; /* กำหนดความสูงของหน้าเว็บเต็มหน้าจอ */
    margin: 0; /* ลบ margin ที่ถูกกำหนดมาตั้งแต่แรก */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1500px; /* ปรับตามต้องการ */
    max-height: 1000px;  /*กำหนดความสูงของหน้าเว็บ */
    font-family: Prompt;
    /* margin: 0 auto; ทำให้กรอบอยู่กึ่งกลางหน้าจอ */
}
form {
    max-width: 290px; /* ปรับตามต้องการ */
    margin: 0 auto; /* ทำให้กรอบอยู่กึ่งกลางหน้าจอ */
}
#LoginPic1{
    width: 60% ; 
    height: 100%;
    left: -7.7%; 
    top: 0%; 
    position: absolute; 
    /* box-shadow: 0px 24px 41px rgba(0, 0, 0, 0.25) */
}
#LoginRMbox1{
    width: 1000px;
    height: 845px;
    right: 0%; 
    top: 0px; 
    position: absolute;
    background: #FAFAFF;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: -14px 0px 26px rgba(0, 0, 0, 0.25)
}
#HeadSignin{
    left: 178px; 
    top: 0px; 
    position: absolute; 
    text-align: center; 
    color: #161A2A; 
    font-size: 80px; 
    font-family: Prompt; 
    font-weight: 400; 
    word-wrap: break-word
}
#SubSignin{
    left: 110px; 
    top: 14%; 
    position: absolute; 
    text-align: center; 
    color: #161A2A; 
    font-size: 36px; 
    font-family: Prompt; 
    font-weight: 300; 
    word-wrap: break-word
}
.formbox{
    width: 600px; 
    height: 70px; 
    background: #FAFAFF;
    position: absolute; 
    justify-content: center; 
    align-items: center; 
    display: inline-flex ; 
    border-radius: 10px; 
    border: 3px #161A2A solid;  
    width: 100%;
    font-size: 30px;
    padding: 12px 20px;
    margin: 4px 0;
    box-sizing: border-box;
    outline: none;
}
#Usernamebox{
    left: 0px; 
    top:  29.5%; 
}
#Passwordbox{
    left: 0px; 
    top: 47.5%; 
}
.formtext{
    position: absolute; 
    font-size: 20px; 
    font-family: Prompt
}
#Usertext{
    left: 22px; 
    top: 25%; 
}
#Passwordtext{
    left: 22px; 
    top: 43%;
}
#Remembertext{
    left: 0px; 
    top: 62%;
    position: absolute; 
    color: #161A2A; 
    font-size: 20px; 
    font-family: Prompt; 
    font-weight: 300;
    display: flex;
    align-items: center;
}
#Registertext{
    left: 89%; 
    top: 62.8%;
    position: absolute; 
    color: #161A2A; 
    font-size: 20px; 
    font-family: Prompt; 
    font-weight: 300;
}
#Nextbox{
    left: 10%; 
    top: 72%;
    position: absolute;
    width: 500px; /* กว้างของสี่เหลี่ยม */
    height: 100px; /* สูงของสี่เหลี่ยม */
    border-radius:20px;
    background-color: #000000; /* สีพื้นหลังของสี่เหลี่ยม */
    display: flex;
    justify-content: center;
    align-items: center;
}
#Nexttext{
    font-size: 50px; 
    font-family: Prompt;
    text-align: center; 
    color: #ffffff;
}
input[type=text] {
    width: 100%;
    font-size: 30px;
    padding: 12px 20px;
    margin: 4px 0;
    box-sizing: border-box;
    outline: none;
    /* border: 1px solid #555; */
}
input[type=checkbox] {
    width: 40px; 
    height: 40px; 
    border-radius: 10px; 
    border: 10px #161A2A solid
}