#image1{
    width: 1163px; 
    height: 1080px; 
    left: -111px; 
    top: -13px; 
    position: absolute; 
    box-shadow: 0px 24px 41px rgba(0, 0, 0, 0.25)
}
#background1{
    width: 1200px; 
    height: 1080px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: #FAFAFF;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px
}
#head1{
    left: 167px; 
    top: 0px; 
    position: absolute; 
    text-align: center; 
    color: #161A2A; 
    font-size: 80px; 
    font-family: Kanit; 
    font-weight: 400; 
    word-wrap: break-word"
}
#text1{
    left: 147px; 
    top: 139px; 
    position: absolute; 
    text-align: center; 
    color: #161A2A; 
    font-size: 36px; 
    font-family: Prompt; 
    font-weight: 300; 
    word-wrap: break-word"
}
#input1{
    width: 598px; 
    height: 80px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: #FAFAFF; 
    border-radius: 10px; 
    border: 3px #161A2A solid
}
#input2{
    width: 598px; 
    height: 80px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: #FAFAFF; 
    border-radius: 10px; 
    border: 3px #161A2A solid
}
#text2{
    left: 25px; 
    top: 0px; 
    position: absolute; 
    color: #161A2A; 
    font-size: 20px; 
    font-family: Prompt; 
    font-weight: 400; 
    word-wrap: break-word
}
#tickbox1{
    width: 18px; 
    height: 21px; 
    left: 0px; 
    top: 5px; 
    position: absolute; 
    background: #161A2A
}
#input2{
    width: 598px; 
    height: 80px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: #FAFAFF; 
    border-radius: 10px; 
    border: 3px #161A2A solid
}
#text3{
    width: 141px; 
    left: 25px; 
    top: 0px; 
    position: absolute; 
    color: #161A2A; 
    font-size: 20px; 
    font-family: Prompt; 
    font-weight: 400; 
    word-wrap: break-word
}
#tickbox2{
    width: 18px; 
    height: 21px; 
    left: 0px; 
    top: 5px; 
    position: absolute; 
    background: #161A2A
}
#text3{
    left: 28px; 
    top: 0px; 
    position: absolute; 
    color: #161A2A; 
    font-size: 20px; 
    font-family: Prompt; 
    font-weight: 400; 
    word-wrap: break-word
}
#tickbox3{
    width: 16px; 
    height: 21px; 
    left: 4px; 
    top: 1px; 
    position: absolute; 
    background: #161A2A
}
#tickbox4{
    width: 39px; 
    height: 39px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: #FAFAFF; 
    border-radius: 8px; 
    border: 3px #161A2A solid
}
#text4{
    width: 216px; 
    height: 39px; 
    left: 352px; 
    top: 714px; 
    position: absolute; 
    color: #161A2A; 
    font-size: 20px; 
    font-family: Prompt; 
    font-weight: 300; 
    word-wrap: break-word
}
#text5{
    left: 652px; 
    top: 718px; 
    position: absolute; 
    text-align: right; 
    color: #161A2A; 
    font-size: 20px; 
    font-family: Prompt; 
    font-weight: 300; 
    word-wrap: break-word
}
#button1{
    width: 532px; 
    height: 76px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: #161A2A; 
    border-radius: 13px
}
#textinbutton1{
    left: 220px; 
    top: 11px; 
    position: absolute; 
    text-align: center; 
    color: #FAFAFF; 
    font-size: 36px; 
    font-family: Kanit; 
    font-weight: 700; 
    word-wrap: break-word
}