{% load static %}
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                alert("Geolocation is not supported by this browser.");
            }
        }

        function showPosition(position) {
            document.getElementById("id_location").value = position.coords.latitude + "," + position.coords.longitude;
        }
    </script>
</head>
<body>
    <h1>ถ้าจะใช้ตำแหน่งปัจจุบันให้เว้นว่างไว้และถ้าจะใช้รัศมี 4 km ให้เว้นว่างไว้เหมือนกัน</h1>
    <form method="post" action="{% url 'maps' %}">
        {% csrf_token %}
        {{ location_form.as_p }}
        {{ radius_form.as_p }}
        <button type="button" onclick="getLocation()">Get Current Location</button>
        <button type="submit">Submit</button>
        <div class="label">
            <label for="sortby"><b>Sort by:</b></label>
            <select name="sort" id="sorttype" value={{sort}}>
                <option value="distanceasc">lowest distance</option>
                <option value="distancedsc">highest distance</option>
            </select>
        </div>
    </form>
    {% if error_message %}
        <p>{{ error_message }}</p>
    {% endif %}
    
    {% if shop_result %}
        {% for shop in shop_result %}
        <div style="background-color: gray;">
            <p>{{ shop.name }}</p>
            <p>{{ shop.location }}</p>
            <p>{{ shop.rating }}</p>
            <p>{{ shop.rating_total }}</p>
            <p>{{ shop.rating }}</p>
            <p>{{ shop.geo_locate_lat }}</p>
            <p>{{ shop.geo_locate_lng }}</p>
            <p>{{ shop.distance }} Km</p> 
            <p>{{ shop.time }}</p>
        </div>
        <p>{{ shop.total }}</p>
        {% endfor %}
    {% endif %}
</body>
</html> -->



<!DOCTYPE html>
<html>
    <head>
        <title>Ten Thousand Project</title>
    </head>
    <link rel="stylesheet" href="{% static 'css/inputpage.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Prompt">
    <script src="{% static 'js/inputpage.js' %}"></script>
    <body>
        <div style="width: 960px;; height: 1080px; left: 960px; top: 0px; position: absolute">
            <div id="map"></div>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkV4sjxEUVITYYDtf3qVF-E-T0aLBNfro&callback=initMap"
            async defer></script>
        </div>
        <form method="post" action="{% url 'maps' %}">
            {% csrf_token %}
        <div style="width: 700px; height: 150px; left: 130px; top: 344px; position: absolute; ">
            <button onclick="click_mylocation(),getLocation()" id="buttoncon1" class="buttoncon1" type="button">ตำแหน่งปัจจุบัน</button>
        </div>
        <div  style="width: 700px; height: 150px; left: 130px; top: 585px; position: absolute">

                {{ location_form.location }}

        </div>
        <div style="width: 311px; height: 103px; left: 497px; top: 837px; position: absolute">

            <button onclick="click_display()" type="submit" id="button2" class="buttoncon2" >ต่อไป</div>

        </div>
        <div style="width: 311px; height: 103px; left: 154px; top: 837px; position: absolute">      
                    {{ radius_form.radius }} 
        </div>
        </form>
            <div id="head1" >เลือกวิธีระบุตำแหน่งของคุณ</div>
            <div id="headbar">
            <div id="Bgheadbar" ></div>
            <img id="logobutton"  src="https://via.placeholder.com/80x80" />
            <div id="line1" ></div>
            <a href="{% url 'home' %}"><img id="backbutton" src="Back.png"/></a>
            </div>
            </div>
          
    </body>
</html>